@charset "utf-8";



body {

    font-family: 'Ubuntu', sans-serif;

    background-image: url(imagens/background.png);

    margin: 0;

    padding: 0;

    /* width: 100%; */

}

p {
    font-size: 1em;
}


h1,
h2,
h3,
h4,
figure {

    margin: 0;

    padding: 0;

}



img {

    width: 100%;

}



/*topo*/



header #topo {
    width: 100%;

}



#topoFlex {

    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 15px;
    border-bottom: solid 1px;
    background-color: #F2F2F2;
    text-align: center;
    width: 100%;



}



h1 img {

    margin-top: 5px;
    width: 85px;

}



nav {

    min-height: 40px;

    display: flex;

    justify-content: center;

    align-content: center;

    text-transform: uppercase;

    font-weight: bold;

    line-height: 40px;

    padding-left: 1%;

}



nav a:link,
nav a:visited {

    text-decoration: solid;

    color: black;

    transition: background-color 1s;

    padding: 1%;

    min-height: inherit;

    display: flex;

    justify-content: center;

    align-items: center;

    /* width: 1%; */

}



nav a:hover,
nav a:focus {

    background-color: #D504D9;

    color: #000;

    transition: inherit;

    border-radius: 5%;

}



/*inicio/ entrada*/



#inicio {

    /* background-image: url(imagens/backgroundInicio480px.png); */

    width: 480px;

    height: 260px;



}



hr {

    height: 12px;

    width: 100%;

    background-color: #05F2F2;

}



/*o que fazemos*/



h1 {

    /* margin-left: 55%; */

    text-align: center;



}



#oqueFazemos,
#comoFaz {

    text-align: center;

}



/* #comoFaz{

    margin-right: 55%;

    padding: 4%;

} */



.imagemCodigo img {

    /* margin-left: 55%; */
    border-radius: 15px;
    width: 230px;
    height: 358px;
    margin-top: 56px;

}



#metodologia {

    position: relative;

    flex-direction: row;

    /* display: flex; */

}

.flexComoFaz {
    display: flex;
}



/* footer */

.rodape {

    background-color: #05F2F2;

    color: #7f7f80;

    text-align: center;

    width: 100%;



}



.rodape p {

    font-size: 14px;

}

.rodape aside {

    margin: 25px;

}



.rodape img {

    margin-left: 5px;

    margin-right: 5px;

}



.rodape-conteudo {

    display: flex;

    justify-content: center;

    align-content: center;

}



.rodape-conteudo ul {

    list-style: none;

}



#logo-rodape {

    min-width: 146px;

    width: 150px;

    margin-top: 42px;

    margin-left: 10px;

}



.menu-rodape {

    text-decoration: none;

    color: #05F2F2;

}



.menu-rodape a:hover {

    color: #000;

}



.redes img {

    min-width: 35px;

    width: 35px;

}



.redes ul {

    display: flex;

    text-align: center;

}



.redes li {

    width: 15%;

    padding: 3%;

}



.assinatura {

    color: #000;

    background-color: #05F2F2;

    text-align: center;

    height: 50px;

    padding: 1%;

}



.assinatura p {

    padding-top: 2%;

}

/* Nossa Equipe */

.nossaEquipe {
    background-color: #05F2F2;
    width: 100%;
    height: 180px;
    text-align: center;

}

.fotoEquipe {
    display: flex;
    justify-content: center;
    align-items: center;

}

.fotoEquipe img {
    width: 125px;
    height: 125px;
    border-radius: 48%;
    margin: 1%;

}